<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ personal_info.full_name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'myown/css/styles.css' %}">
</head>
<body>
    <h1>{{ personal_info.full_name }}</h1>
    <img src="{{ personal_info.profile_picture.url }}" alt="Profile Picture">
    <p>Email: {{ personal_info.email }}</p>
    <p>Phone: {{ personal_info.phone }}</p>
    <p>Address: {{ personal_info.address }}</p>
    
    <h2>Education</h2>
    <ul>
        {% for edu in personal_info.educations.all %}
            <li>{{ edu.school_name }} - {{ edu.degree }} in {{ edu.field_of_study }} ({{ edu.start_date }} - {{ edu.end_date }})</li>
        {% endfor %}
    </ul>

    <h2>Work Experience</h2>
    <ul>
        {% for job in personal_info.work_experiences.all %}
            <li>{{ job.job_title }} at {{ job.company }} ({{ job.start_date }} - {{ job.end_date }})</li>
            <p>{{ job.description }}</p>
        {% endfor %}
    </ul>
    
    <a href="{% url 'download_pdf' personal_info.pk %}">Download Resume as PDF</a>
</body>
</html>
